Source: fame
Section: misc
Priority: optional
Maintainer: Keith Packard <packard@hpe.com>
Uploaders: Keith Packard <keithp@keithp.com>
Origin: HPE
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: fame
Architecture: all
Depends: ${misc:Depends}
Description: Fabric Attached Memory Emulation
 Simulates a distributed fabric attached environment on a single
 computer using virtual machines and shared memory
